<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindWifiNearly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6019A70C1CDA2B1800E606C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6019A7231CDA2B1A00E606C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6019A72E1CDA2B1A00E606C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
